<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer1.html">
    <div ui-tree-handle class="tree-node  ">
        <div class="tree-node-content">
            <ui-iconpicker groups="font-awesome" ng-click="logIcon(node,$event)"
                           value="fa fa-lg fa-pencil"></ui-iconpicker>

            &nbsp; <input type='color' class="color " ng-change="logIconColor(node,defaultColor)"
                          ng-model="defaultColor"/>
            &nbsp;  &nbsp;  &nbsp;  {{node.title}}

        </div>
    </div>

</script>
<script type="text/ng-template" id="nodes_renderer2.html">
    <div class="tree-node">

        <div class="tree-node-content">


            <span class="{{node.icon}}" style="color:{{node.iconColor}}"></span>  &nbsp; &nbsp; &nbsp;
            {{node.title}}

            <a class="pull-right fa fa-lg fa-trash-o" data-nodrag ng-click="remove(this)">  </a>

        </div>
    </div>
    <ul ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer2.html'">
        </li>
    </ul>
</script>


<div class="row">
    <div class="col-sm-6">
        <h3>Tree 1 - Source</h3>

        <div ui-tree id="tree1-root" data-clone-enabled="true" data-nodrop-enabled="true">
            <ul ui-tree-nodes="" ng-model="tree1">
                <li ng-repeat="node in tree1" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-6">
        <h3>Tree 2 - Destination</h3>

        <div ui-tree id="tree2-root" data-clone-enabled="true">
            <ul ui-tree-nodes="" ng-model="tree2">
                <li ng-repeat="node in tree2" ui-tree-node ng-include="'nodes_renderer2.html'"></li>
            </ul>
        </div>
    </div>
</div>

<h3>Data binding</h3>
<div class="row">
    <div class="col-sm-6">
        <pre class="code">{{ tree1 | json }}</pre>
    </div>

    <div class="col-sm-6">
        <pre class="code">{{ tree2 | json }}</pre>
    </div>
</div>
